.cover {
    width: 100%;
    min-height: calc(100vh - 169px);
    margin-bottom: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //background-attachment: fixed;
}

.middle, .wp-block-group {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
}