body {
	font: 400 16px Roboto, sans-serif;
	color: $text-color;
	text-align: left;

	&.sticky {
		padding-top: 100px;
	}
}

h1, h2, h3, h4 {
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
	font-weight: 400;
}

h1 {
	padding-bottom: $h-padding-bottom;
	font-size: 3.2em;
	line-height: 1;
	
	&:not(.alt) {
		margin-left: -1px;
		letter-spacing: .25em;
		font-family: "Proxima thin", sans-serif;
	}

	&.alt {
		letter-spacing: 3px;
		font-family: "Times", serif;
		font-style: italic;
	}

	&.ptop {
		padding-top: $h-padding-top;
	}
	
	a {
		letter-spacing: .17em;
		&:hover, &:focus {
			color: $text-color-light;
		}
	}
}

h2 {
	margin: 0;
	padding: $h-padding-top 0 $h-padding-bottom 0;
	font-family: "Proxima thin", sans-serif;
    letter-spacing: .25em;
    font-weight: 400;
	font-size: 3em;
	text-align: center;
	
	&.bg-alt {
		background: $bg-color;
	}
}

h3 {
	font-family: "Proxima thin", sans-serif;
    letter-spacing: 2px;
	font-weight: 400;
	font-size: 2em;
	line-height: 1.2;
    padding-bottom: 18px;
}

h4 {
	padding-bottom: 1.2em;

	&.lead {
		font-size: 1.2em;
    	font-family: "Times It", serif;
    	font-style: italic;
    	margin-top: -26px;
    	letter-spacing: 0;
		color: $text-color-light;
	}
}

h5 {
	padding: 18px 0 14px;
}

p {
	line-height: $line-height;
	margin-bottom: 24px;

	&.less-margin {
		margin-bottom: 10px;
	}

	&.bold {
		font-weight: 500;
	}

	& + h2 {
		margin-top: -24px;
	}
}

a {
	text-decoration: none;
	color: $link-color;
	background-color: transparent;
	@include btn-animation;
	-webkit-text-decoration-skip: objects;
	
	&:hover, &:focus {
		text-decoration: none;
		color: $link-hover-color;
	}
}

label a {
	color: $text-color;

	&:hover, &:focus {
		color: $text-color-light;
	}
}

b, strong {
	font-weight: 500;
}
























@media (max-width: 1600px){
	body {
		font-size: 15px;
	}
}

@media (max-width: 1400px){
	body {
		font-size: 14px;
	}
}

@media (max-width: 1200px){
	body {
		font-size: 13px;
	}
}

@media (max-width: 1050px){
	body {
		font-size: 12px;
	}
}



.clear {
	display: block;
	clear: both;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

// .animated {
// 	animation-iteration-count: 1;
// }

// .disable-select {
// 	-webkit-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;
// }