body {
	font: 400 16px $font-family;
	color: $text-color;
	text-align: left;
	overflow-x: hidden;
}

h1, h2, h3, h4 {
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
	font-weight: 400;
}

h1 {
	padding-bottom: $h-padding-bottom;
	font-size: 50px;
	line-height: 1;
	
	&:not(.alt) {
		margin-left: -1px;
		letter-spacing: .25em;
		font-family: $font-family-heading;
	}

	&.alt {
		letter-spacing: 3px;
		font-family: "Times", serif;
		font-style: italic;
	}

	&.ptop {
		padding-top: $h-padding-top;
	}
	
	a {
		letter-spacing: .17em;
		&:hover, &:focus {
			color: $text-color-light;
		}
	}
}

h2 {
	margin: 0;
	padding: $h-padding-top 0 $h-padding-bottom 0;
	font-family: $font-family-heading;
    letter-spacing: .25em;
    font-weight: 400;
	font-size: 45px;
	text-align: center;
	
	&.bg-alt {
		background: $bg-color;
	}
}

h3 {
	font-family: $font-family-heading;
    letter-spacing: 2px;
	font-weight: 400;
	font-size: 2em;
	line-height: 1.2;
	padding-bottom: 18px;
	
	&.alt {
		letter-spacing: 2px;
		font-family: "Times", serif;
		font-style: italic;
	}
}

h4 {
	padding-bottom: 1.2em;

	&.lead {
		font-size: 1.2em;
    	font-family: "Times It", serif;
    	font-style: italic;
    	margin-top: -26px;
    	letter-spacing: 0;
		color: $text-color-light;
	}
}

h5 {
	padding: 18px 0 14px;
}

p {
	line-height: $line-height;
	margin-bottom: 24px;

	&.less-margin {
		margin-bottom: 10px;
	}

	&.bold {
		font-weight: 500;
	}

	& + h2 {
		margin-top: -24px;
	}

	&.bg-color {
		padding: 14px;
		text-align: center;
		margin-top: 50px;
	}
}

a {
	text-decoration: none;
	color: $link-color;
	background-color: transparent;
	@include btn-animation;
	-webkit-text-decoration-skip: objects;
	
	&:hover, &:focus {
		text-decoration: none;
		color: $link-hover-color;
	}
}

label a {
	color: $text-color;

	&:hover, &:focus {
		color: $text-color-light;
	}
}

b, strong {
	font-weight: 500;
}

@include mq-960 {
	h1 {
		font-size: 40px;
	}

	h4 {
		&.lead {
			margin-top: -20px;
		}
	}
}

@include mq-800 {
	body {
		font-size: 15px;
	}

	h2 {
		font-size: 35px;
		letter-spacing: 5px;
	}
}















