.footer {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid $border-color;
    background: $footer-bg-color;

    nav {
        margin-bottom: 40px;
    }

    li {
        text-align: left;
        list-style-type: none;
    }

    a:not(.social-link), span {
        letter-spacing: 0;
        font-size: .9em;
        color: $text-color-light;

       
    }

    a:hover {
		color: $link-hover-color-light;
    }

    &-menu  {
        position: relative;
        display: inline-block;

        & > li {
            display: inline-block;
            vertical-align: top;
            padding-right: 20px;
            margin-left: 50px;
            position: relative;

            & > a, span {
                text-transform: uppercase;
                font-weight: 500;
            }

            &:first-child {
                position: absolute;
            }

            &:nth-child(2) {
                position: absolute;
                top: 56px;
            }

            &:nth-child(3) {
                margin-top: 112px;
            }
        }
    }

    .sub-menu {
        margin-top: 10px;

        li {
            margin-top: 8px;
        }

        a:not(.social-link) {
            font-size: .9em;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }
    }

    &-copyright {
        font-size: .8em;
        padding: 14px;
        margin-bottom: 0;
        color: $text-color-light;
        border-top: 1px solid $border-color;
    }

    &-cities {
        color: $text-color-light;
        padding: 0 20px 14px 20px;

        h5 {
            display: inline-block;
            padding: 0;
            position: relative;
            font-weight: 400;
            font-style: 16px;
            margin-left: 14px;
            margin-bottom: 10px;
            padding-left: 14px;

            &:before {
                width: 7px;
                height: 7px;
                content: '';
                border-radius: 50%;
                background: $text-color-light;
                position: absolute;
                top: 6px;
                left: 0;
            }
        }
    }
}

.widget-title {
    display: none;
}

@include mq-1300 {
	.footer {
        &-menu {
            & > li {
                margin-left: 10px;
            }
        }
	}
}

@include mq-1150 {
	.footer {
		&-menu {
            & > li {
                margin-left: 0;

                &:nth-child(-n+4) {
                    width: 30%;
                }

                &:nth-child(4) {
                    margin-bottom: 60px;
                }

                &:nth-child(6) {
                    width: 40%;
                }
            }
        }
	}
}

@include mqm-560 {
	.footer {
        &-menu {
            & > li {       
                .sub-menu {
                    display: block !important;
                }
            }
        }
    }
}

@include mq-560 {
	.footer {
        &-menu {
            & > li {
                width: 100% !important;
                padding-left: $mobile-padding;
                position: relative !important;
                top: 0 !important;
                
                &:not(:first-child) {
                    margin: 30px 0 0 0 !important;
                }

                &:not(:last-child) {
                    .sub-menu {
                        display: none;
                    }
                }
            }
        }

        .menu-expand-btn.fa {
            top: -12px;
            display: block;
        }
    }
}