.header {	
	width: 100%;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    animation-fill-mode: both;
	background-color:$bg-color;
	border-bottom: 1px solid $border-color;
    position: relative;
    z-index: 900;

    &-inner {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
    }

	&-top {
		width: 100%;
		padding-top: 16px;
		padding-bottom: 12px;
        border-bottom: 1px solid $border-color;
        display: table;
        
        > * {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
        }
	}

	&-phone {
		position: relative;
		padding-left: 1.9em;
		width: 12.5em;
		font-weight: 500;
		white-space: nowrap;
		letter-spacing: 2px;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			height: 1px;
			left: 0;
			width: 1.3em;
			background-color: #d2d2d2;
		}
	}

	&_social {
		width: 8em;
		text-align: center;
		padding-top: .3em;
		&-link {
			display: inline-block;
			margin-left: -2px;
		}
		&-img {
			width: 2em;
		}
	}

	&_lang {
		position: relative;
		padding-left: 1.9em;
		width: 6em;

		> * {
			display: inline-block;
			vertical-align: middle;
		}
		&-ul {
			position: relative;
			list-style: none;
			height: 1em;
			width: 1.6em;
		}
		&-li {
			cursor: pointer;
			transition: all ease-in-out .3s;
			&:not(:first-child){
				opacity: 0;
				z-index: -1;
			}
		}
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			height: 1px;
			left: 0;
			width: 1.3em;
			background-color: #d2d2d2;
		}
		&-arrow {
			width: 20px;
			height: 20px;
			fill: none;
			stroke: #aaa;
			stroke-width: 1px;
			cursor: pointer;
		}
	}

	&_logo {
		&-link {
			text-align: center;
		}

		&-svg {
			width: 338px;
			height: 80px;
			display: block;
			margin: auto;
			visibility: hidden;
			transition: all linear .5s;
		}
		&-line {
			height: 1px;
			width: 0;
			margin-top: -1em;
			// width: 10em;
			display: inline-block;
			vertical-align: top;
			background-color: #B9B9B9;
			transition: all ease-in-out .7s;
		}

		&-caption {
			margin: 0;
			margin-top: -1.8em;
			line-height: inherit;
			text-transform: uppercase;
			font-size: .8em;
			letter-spacing: 4px;
			color: #666;
			transition: all linear .5s;
		}

		&-mobile {
			display: none;
			text-align: center;
		}
	}

	&-btn-wrap {
		text-align: right;

		&.mobile {
			width: 100%;
			text-align: center;
			padding: 20px 0;
			display: none;
		}
	}

	&-menu-btn {
		min-width: 65px;
		line-height: 40px;
		display: none;
		float: right;
		text-align: center;
		padding: 0 10px;
		margin: 9px 0 0 20px;
		z-index: 10;
		outline: none;

		i {
			display: none;
			font-size: 22px;
		}

		&.active {
			opacity: .5;
			border: none;
			right: -25px;
			
			i {
				display: inline;
				position: relative;
				top: 4px;
			}

			span {
				display: none;
			}
		}
	}
}

@media(min-width: 801px) {
	body {
		&.sticky {
			padding-top: 100px;
		}
	}
	
	.header {
		&.fixed {
			position: fixed;
			top: 0;

			* {
				transition: all ease-in-out .3s;
			}

			.header-top {
				padding: 8px 0;
			}

			.header-menu>ul>li {
				padding: 8px 0;
			}

			.header_logo {
				&-svg {
					height: 3em;
					transform: translateY(6px);
				}

				&-caption, &-line {
					display: none;
				}
			}

			.btn-small {
				line-height: 3;
				padding: 0 2em;
			}
		}
	}
}

@media(max-width: 1300px){
	.header {
		&-top {
			padding-left: 20px;
			padding-right:20px;
		}
	}
}

@media(max-width: 1150px){
	.header {

		&_logo-svg {
			width: 250px;
		}

		.btn-small {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

@media(max-width: 960px){
	.header {
		&_logo-svg {
			width: 240px;
		}

		&-phone {
			display: none;
		}
	}
}


@media(max-width: 800px){
	.header {
		&-top {
			height: 60px;
			display: block;
			padding: 0 16px;
		}

		&_lang {
			width: auto;
			display: block;
			float: right;
			margin-top: 19px;
			padding: 0;

			&:before {
				display: none;
			}

			&-arrow {
				display: none;
			}
		}

		&_logo-link {
			display: block;
			float: left;
			margin-top: 16px;

			span, p {
				display: none;
			}
		}

		&_logo-svg {
			width: 180px;
			height: auto;
		}
		
		&-btn-wrap {
			width: 200px;
		}


		&_social {
			display: none;
		}

		&-btn-wrap {
			display: none;

			&.mobile {
				display: block;
			}
		}

		&-menu-btn {
			display: block;
		}
	}
}

@media(max-width: 560px){
	
}

@media(max-width: 350px){
	.header {
		&_logo-mobile {
			display: block;
			float: left;
			margin-top: 10px;
		}

		&_logo-link { 
			display: none;
		}

	}
}