.header {	
	width: 100%;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    animation-fill-mode: both;
	background-color:$bg-color;
	border-bottom: 1px solid $border-color;
    position: relative;
    z-index: 900;

    &-inner {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
    }

	&-top {
		width: 100%;
		padding-top: 16px;
		padding-bottom: 12px;
        border-bottom: 1px solid $border-color;
        display: table;
        
        > * {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
        }
	}

	&-phone {
		position: relative;
		padding-left: 1.9em;
		width: 12.5em;
		font-weight: 500;
		white-space: nowrap;
		letter-spacing: 2px;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			height: 1px;
			left: 0;
			width: 1.3em;
			background-color: #d2d2d2;
		}
	}

	&_social {
		width: 8em;
		text-align: center;
		padding-top: .3em;
		&-link {
			display: inline-block;
			margin-left: -2px;
		}
		&-img {
			width: 2em;
		}
	}

	&_lang {
		position: relative;
		padding-left: 1.9em;
		width: 6em;

		> * {
			display: inline-block;
			vertical-align: middle;
		}
		&-ul {
			position: relative;
			list-style: none;
			height: 1em;
			width: 1.6em;
		}
		&-li {
			cursor: pointer;
			transition: all ease-in-out .3s;
			&:not(:first-child){
				opacity: 0;
				z-index: -1;
			}
		}
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			height: 1px;
			left: 0;
			width: 1.3em;
			background-color: #d2d2d2;
		}
		&-arrow {
			width: 20px;
			height: 20px;
			fill: none;
			stroke: #aaa;
			stroke-width: 1px;
			cursor: pointer;
		}
	}

	&_logo {
		&-link {
			text-align: center;
		}

		&-svg {
			width: 338px;
			height: 80px;
			display: block;
			margin: auto;
			visibility: hidden;
			transition: all linear .5s;
		}
		&-line {
			height: 1px;
			width: 0;
			margin-top: -1em;
			// width: 10em;
			display: inline-block;
			vertical-align: top;
			background-color: #B9B9B9;
			transition: all ease-in-out .7s;
		}

		&-caption {
			margin: 0;
			margin-top: -1.8em;
			line-height: inherit;
			text-transform: uppercase;
			font-size: .8em;
			letter-spacing: 4px;
			color: #666;
			transition: all linear .5s;
		}

		&-mobile {
			display: none;
		}
	}

	&-btn-wrap {
		text-align: right;
	}

	&.fixed {
		position: fixed;
		top: 0;

		* {
			transition: all ease-in-out .3s;
		}

		.header-top {
			padding: 8px 0;
		}

		.header-menu>ul>li {
			padding: 8px 0;
		}

		.header_logo {
			&-svg {
				height: 3em;
				transform: translateY(6px);
			}

			&-caption, &-line {
				display: none;
			}
		}

		.btn-small {
			line-height: 3;
			padding: 0 2em;
		}
	}
}



@media(max-width: 1300px){
	.header {
		&-top {
			padding-left: 20px;
			padding-right:20px;
		}
	}
}

@media(max-width: 1150px){
	.header {

		&_logo-svg {
			width: 250px;
		}

		.btn-small {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

@media(max-width: 960px){
	.header {
		&_logo-svg {
			width: 240px;
		}

		&-phone {
			display: none;
		}
	}
}


@media(max-width: 768px){
	.header {
		&_logo-link {
			display: none;
		}

		&_logo-mobile {
			display: inline-block;
		}
	}
}

@media(max-width: 766px){

}

@media(max-width: 670px){

}

@media(max-width: 500px){

}

@media(max-width: 400px){
	
}