.header {	
    position: relative;
    width: 100%;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    animation-fill-mode: both;
    z-index: 10000;

    &-inner {
        width: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        border-bottom: 1px solid #D6D6D6;
    }

	&-top {
        width: 80em;
        padding-top: 1em;
        padding-bottom: .7em;
        border-bottom: 1px solid #D6D6D6;
        display: table;
        margin: auto;
        
        > * {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
        }
	}

	&-phone {
		position: relative;
		padding-left: 1.9em;
		width: 12.5em;
		font-family: Roboto, sans-serif;
		font-weight: 500;
		color: #020202;
		white-space: nowrap;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			height: 1px;
			left: 0;
			width: 1.3em;
			background-color: #d2d2d2;
		}
	}

	&_social {
		width: 8em;
		text-align: center;
		padding-top: .3em;
		&-link {
			display: inline-block;
			margin-left: -2px;
		}
		&-img {
			width: 2em;
		}
	}

	&_lang {
		position: relative;
		padding-left: 1.9em;
		font-family: Roboto, sans-serif;
		font-weight: 400;
		width: 6em;
		> * {
			display: inline-block;
			vertical-align: middle;
		}
		&-ul {
			position: relative;
			list-style: none;
			height: 1em;
			width: 1.6em;
		}
		&-li {
			cursor: pointer;
			transition: all ease-in-out .3s;
			&:not(:first-child){
				opacity: 0;
				z-index: -1;
			}
		}
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			height: 1px;
			left: 0;
			width: 1.3em;
			background-color: #d2d2d2;
		}
		&-arrow {
			width: 20px;
			height: 20px;
			fill: none;
			stroke: #aaa;
			stroke-width: 1px;
			cursor: pointer;
		}
	}

	&_logo {
		&-link {
			text-align: center;
			width: 28.5em;
		}
		&-img {
			width: 21.125em;
		}
		&-svg {
			display: block;
			margin: auto;
			height: 5em;
			width: 21.125em;
			visibility: hidden;
			transition: all 0s;
			transition: all linear .5s;
		}
		&-line {
			height: 1px;
			width: 0;
			margin-top: -1em;
			// width: 10em;
			display: inline-block;
			vertical-align: top;
			background-color: #B9B9B9;
			transition: all ease-in-out .7s;
		}

		&-caption {
			display: block;
			margin: auto;
			margin-top: -1.8em;
			font-family: Roboto, sans-serif;
			font-weight: 400;
			text-transform: uppercase;
			font-size: .8em;
			letter-spacing: 4px;
			color: #666;
			overflow: hidden;
			height: 1em;
			transition: all linear .5s;
		}
		&-mobile {
			display: none;
			max-width: 2em;
		}
	}

	&-btn-wrap {
		text-align: right;
	}
}



@media(max-width: 1000px){
	.header {
		&_top {
			&-wrapper {
				width: 100%;
			}
		}
		&_logo {
			&-link {
				width: 42%;
			}
		}
		&_lang {
			width: 10%;
		}
		&_phone {
			width: 20%;
		}
		&_social {
			display: none;
		}
	}
}


@media(max-width: 766px){
	.header {
		&_lang {
			font-size: 10px;
		}
		&_logo {
			&-link {
				font-size: 10px;
			}
		}
		&_phone {
			font-size: 10px;
		}
	}
}

@media(max-width: 670px){
	.header {
		&_logo {
			&-link {
				display: none;
			}
			&-mobile {
				display: block;
			}
		}
		&_button {
			margin-right: .5em;
		}
		&_phone {
			width: 15em;
		}
		&_lang {
			width: auto;
			font-size: 1.2em;
		}
	}
}

@media(max-width: 500px){
	.header {
		&_button {
			&-wrapper {
				font-size: 11px;
			}
			letter-spacing: 0
		}
		&_phone {
			letter-spacing: 0;
			width: 12em;
		}
	}
}

@media(max-width: 400px){
	.header {
		&_phone {
			padding-left: .5em;
			width: 10em;
			&:before {
				display: none;
			}
		}
	}
}