.header-menu {
    display: inline-block;
    margin-left: -30px;
    padding: 0;

    li {
        display: inline-block;
        list-style-type: none;
        position: relative;
    }

    & > ul > li {
        padding: 16px 0;

        // &:hover ul {
        //     opacity: 1;
        //     transform: translateY(100%) scaleY(1);
        // }
    }

    &-link {
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		font-size: 14px;
        padding: 0 60px;
    }

    a {
        color:$text-color-light;
        letter-spacing: 2px;
        white-space: nowrap;
        
        span {
            letter-spacing: inherit;    
        }

        &.active span {
            position: relative;
            color: #000;

            &:before {
                width: 4px;
                height: 4px;
                content: "";
                background: #000;
                margin-top: -2px;
                position: absolute;
                left: -12px;
                top: 50%;
            }
            
        }

        &:hover {
			color: $link-hover-color-light;
		}
    }

    .sub-menu {
        min-width: 100%;
    
        li {
            display: block;
            text-align: left;
            border: 0 solid $border-color;
            border-width: 0 1px 1px 1px;

            &:first-child {
                border-top-width: 1px;
            }
        }

        a {
            padding: 8px 10px;
            display: block;
            font-size: .9em;
        }
    }

    &-expand.fa {
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: none;
        padding: 0;
        font-size: 26px !important;
        color: $text-color-light !important;
        border: none;
        position: absolute;
        top: 5px;
        right: 20px;
        outline: none;

        &:before {
            content: '\f107';
        }

        &.expanded {
            &:before {
                content: '\f106'
            }
        }
    }
}

.social-menu {
	li {
		list-style-type: none;
		display: inline-block;
	}
}

@media(min-width: 801px) {
    .header-menu {    
        & > ul > li {
            &:hover ul {
                opacity: 1;
                transform: translateY(100%) scaleY(1);
            }
        }

        .sub-menu {
            opacity: .3;
            background: $bg-color;
            position: absolute;
            bottom: 0;
            transform-origin: top center;
            transform: translateY(100%) scaleY(0);
            transition: all 0.2s linear;
        }
    }
}

@media(max-width: 1400px){
	.header-menu {
        &-link {
            padding: 0 40px;
        }
    }
}

@media(max-width: 1150px){
	.header-menu {
        &-link {
            padding: 0 20px;
        }
    }
}

@media(max-width: 960px){
	.header-menu {
        &-link {
            font-size: 12px;
            padding: 0 10px;
        }
    }
}

@media(max-width: 800px){
	.header-menu {
        margin-left: 0;
        padding-top: 40px;
        display: none;
        background: $bg-color;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        ul.sub-menu {
            display: none;
            margin-top: 16px;

            li {
                text-align: center;
                border: none;
            }
        }

        li {
            width: 100%;
            display: block;
            border-bottom: 1px solid$border-color;
        }

        &-link {
            font-size: 14px;
            padding: 0 10px;
        }

        &-expand.fa {
            display: block;
        }
    }
}