@font-face {
    font-family: "Proxima thin";
    src: url("/static/elga_app/fonts/Proxima Nova Thin.otf") format("opentype");
    font-weight: 400;
    font-style: normal; }
  
  
  @font-face {
      font-family: "Proxima Cond thin";
      src: url("/static/elga_app/fonts/Proxima Nova Condensed Thin.otf") format("opentype");
      font-weight: 400;
      font-style: normal;
  }
  
  @font-face {
      font-family: Roboto;
      src: url(/static/elga_app/fonts/roboto/Robotolight.ttf) format("truetype");
      src: url(/static/elga_app/fonts/roboto/Robotolight.woff) format('woff');
      font-weight: 400;
      font-style: normal;
  }
  
  @font-face {
      font-family: Roboto;
      src: url(/static/elga_app/fonts/roboto/Robotomedium.ttf) format("truetype");
      src: url(/static/elga_app/fonts/roboto/Robotomedium.woff) format('woff');
      font-weight: 500;
      font-style: normal;
  }
  