@font-face {
    font-family: "Times";
    src: url(../fonts/times/Times.ttf);
    font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: "Times";
    src: url(../fontsa/times/Times-bold.ttf);
    font-weight: 600;
    font-style: normal; 
}

@font-face {
    font-family: "Times It";
    src: url(../fonts/times/Times-italique.ttf);
    font-weight: 400;
    font-style: italic; 
}
  

@font-face {
    font-family: "Proxima thin";
    src: url(../fonts/proxima/Proxima-Nova-thin.otf) format("opentype");
    font-weight: 400;
    font-style: normal; }
  
  
@font-face {
    font-family: "Proxima Cond thin";
    src: url(../fonts/proxima/Proxima-Nova-condensed-thin.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}