*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	word-break: break-word;
	word-wrap: break-word;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	letter-spacing: 2px; 
}

html {
    line-height: 1.15; 
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

html, body {
	border: none;
}

main, article, aside, footer, header, nav, section, menu {
    display: block;
}

h1, h2, h3, h4, h5, h6, p, em, img, li, ol, ul, fieldset, form, label, legend, button, table, tr, th, td {
	border: none;
	font-size: inherit;
	line-height: inherit;
	text-align: inherit;
}

blockquote::before, blockquote::after {
	content: "";
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

audio, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

svg, img, embed, object {
	height: auto;
	max-width: 100%;
}

button, select { 
  text-transform: none;
}


// Check from here

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

canvas {
  display: inline-block;
}

[hidden] {
  display: none;
}