$bg-color: #fff;
$footer-bg-color: #fcfcfc;

$text-color: #333;
$text-color-light: #a7a7a7;

$link-color: #888;
$link-hover-color: $text-color;
$link-hover-color-light: darken($text-color-light, 20%);

$social-icon-color: #444;

$border-color: #d6d6d6;

$btn-bg: $text-color;
$btn-bg-trans: $bg-color;