$text-color: #333;
$text-color-light: #a7a7a7;

$bg-color: #fff;
$footer-bg-color: $text-color;  //#fcfcfc;


$link-color: #888;
$link-hover-color: $text-color-light;
$link-hover-color-light: darken($text-color-light, 20%);

$social-icon-bg: #444;

$border-color: #d6d6d6;


$error-color: red;

$btn-bg: $text-color;
$btn-bg-trans: $bg-color;


$line-height: 1.6;

$side-padding: 20px;