$text-color: #333;
$text-color-light: #a7a7a7;

$bg-color: #fff;
$bg-color-light-grey: #f2f2f2;
$bg-color-lighter-grey: #F9F9F9;
$bg-color-pink-grey: #FAF5F6;
$footer-bg-color: $text-color;  //#fcfcfc;

$link-color: #888;
$link-hover-color: $text-color;
$link-hover-color-light: darken($text-color-light, 20%);

$social-icon-bg: #444;

$border-color: #d6d6d6;

$error-color: #ff0000;

$btn-bg: $text-color;
$btn-bg-trans: $bg-color;

$line-height: 1.6;

$h-padding-top: 1.4em;
$h-padding-bottom: .7em;
$side-padding: 20px;