.btn-wrap {
    margin: 50px 0 40px;
}

button, .btn {
    position: relative;
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    border: 1px solid $btn-bg;
    padding: 12px 56px;
    line-height: 1.8;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .7em;
    cursor: pointer;
    
    &:not(.trans), &:not(.no-animation) {
        color: $bg-color;
        background: $btn-bg;

        &:not([disabled]):not(.disabled):hover {
            color: $text-color;

            &:after {
                background: $bg-color;
            }
        }
    }

    &.trans {
        color: $text-color;
        background: transparent;

        &:not(.no-animation) {
            &:after {
                background: $btn-bg;
            }

            &:not([disabled]):hover {
                color: $bg-color;
            }
        }
    }

    &[disabled], &.disabled {
        opacity: .7;
        cursor: not-allowed;
    }

    &-small {
        padding-left: 38px;
        padding-right: 38px;
    }

    &-bold {
        font-size: 16px;
        font-weight: bold;
    }

    span {
        position: relative;
        vertical-align: middle;
        line-height: initial;
        letter-spacing: inherit;
        z-index: 5;
    }

    &:after {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 0;
        height: 100%;
        z-index: 1;
        @include btn-animation;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}

input[type=submit] {
    @include btn-animation;
    
    &:not([disabled]):hover {
        color: $text-color;
        background: $bg-color;
    }
} 

@include mq-560 {
    button, .btn {
        //width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}