.btn-wrap {
    margin: 50px 0 40px;
}

button, .btn {
    position: relative;
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    border: 1px solid $btn-bg;
    padding: 0 56px;
    line-height: 4;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .7em;
    cursor: pointer;
    
    &:not(.trans) {
        color: $bg-color;
        background: $btn-bg;

        &:after {
            background: $bg-color;
        }

        &:not([disabled]):hover {
            color: $text-color;
        }
    }

    &.trans {
        color: $text-color;
        background: $btn-bg-trans;

        &:after {
            background: $btn-bg;
        }

        &:not([disabled]):hover {
            color: $bg-color;
        }
    }

    &[disabled] {
        opacity: .7;
    }

    &-small {
        padding: 0 38px;
    }

    span {
        position: relative;
        vertical-align: middle;
        line-height: initial;
        letter-spacing: inherit;
        z-index: 5;
    }

    &:after {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 0;
        height: 100%;
        z-index: 1;
        @include btn-animation;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}

input[type=submit] {
    @include btn-animation;
    
    &:not([disabled]):hover {
        color: $text-color;
        background: $bg-color;
    }
} 