.cookie-banner {
    display: none;
    background: $bg-color-pink-grey;
    border-top: 4px solid $border-color;
    padding: 70px 20px 70px 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;

    p {
        margin-bottom: 0;
    }

    .btn-wrap {
        margin: 20px 0 10px;

        button {
            margin-right: 10px;
        }
    }
}