.form-row {
    margin-top: 28px;

    &-btn {
        margin-top: 36px;
    }
}

label {
    letter-spacing: 3px;
    color: #999; // add middle light color
    font-size: .9em;
    display: block;
    margin-bottom: 3px;
}

input[type=text], input[type=email], input[type=tel], input[type=number], input[type=password] {
    width: 30em;
    text-align: center;
    font-family: inherit;
    border: 0;
    border-bottom: 1px solid $border-color;
    padding: 6px 10px;
    letter-spacing: 0;
    color: $text-color;
    font-size: 16px;
    text-align: left;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;

    & + label {
        display: inline-block;
        vertical-align: middle;
        margin: 2px 0 0 10px;
    }
}