.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(255,255,255,0.6);
}

.modal {
    width: 100%;
    max-width: 700px;
    display: none;
    background: $bg-color;
    padding: 40px 20px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);

    h3 {
        padding-bottom: 10px;
    }

    &-cross {
        width: 32px;
        height: 32px;
        stroke: rgba(0,0,0,0.9);
        stroke-width: 3px;
        position: absolute;
        top: -15px;
        right: -15px;
        cursor: pointer;
        transition: all ease-in-out .2s;

        &:hover {
            transform: rotate(90deg);
        }
    }

    form {
        padding: 10px 80px 0;
    }
}

@include mq-800 {
    .modal {
        &-cross {
            top: 5px;
            right: 5px;
        }
    }
}

@media (max-height: 700px), (max-width: 710px) { 
    .modal {
        max-width: none;
        overflow: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate(0);

        &-cross {
            top: 5px;
            right: 5px;
        }
    }    
}

@include mq-560 {
    .modal {
        form {
            padding: 0 10px;
        }
    }
}