.b-about {
    background: $bg-color-lighter-grey;
    
    &-left, &-right {
        display: inline-block;
        vertical-align: middle;
    }

    &-left {
        width: 46%;       
        text-align: right;
        padding-top: 1em;
        background: $bg-color-light-grey;
        

        img {
            width: 29.3125em;
            margin-right: -1em;
        }
    }

    &-right {
        width: 50%;
        padding: 20px 0 20px 96px;

        p {
            width: 100%;
            max-width: 450px;
            font-size: 1.2em;
            line-height: 1.6;
        }
    }

    &.smallp {
        p {
            font-size: 15px;
        }
    }
}

.b-about-two {
    height: 670px;

    &-left, &-right {
        height: 100%;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }

    &-left {
        width: 65%;
        text-align: right;
        padding: 120px 64px 0 110px;

        ul {
            width: 100%;
            max-width: 720px;
            display: inline-block;
        }
    }

    &-right {
        width: 35%;
        margin-left: -7px;
        
        img {
                max-height: 100%;
                position: absolute;
                z-index: 10;
                top: -24px;
                left: -16px;
        }
    }

    &-bg {
        width: 100%;
        max-width: 608px;
        height: 480px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $bg-color-pink-grey;
    }
}

@include mq-1150 {
    .b-about-two {
        &-left {
            padding-top: 30px;
        }
    }
}

@include mq-960 {
    .b-about {
        &-right {
            padding-left: 50px;
        }
    }

    .b-about-two {
        &-left {
            width: 75%;
            padding-right: 20px;
            padding-left: 84px;
        }

        &-right {
            width: 25%;

            img {
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }

        &-bg {
            height: 103%;
        }
    }
}

@include mq-800 {
    .b-about {
        &-left {
            width: 32%;
        }

        &-right {
            width: 66%;
        }
    }

    .b-about-two {
        height: auto;

        &-left {
            width: 100%;
            float: none;
            padding-bottom: 30px;
        }

        &-right {
            display: none;
        }

        .h-list {
            margin-bottom: 0;

            li:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@include mq-560 {
	.b-about {
        &-left {
            width: 100%;
            padding: 20px 10px 16px;
            text-align: center;
            
            img {
                width: auto;
                max-height: 300px;
                margin: 0;
            }
        }
        
        &-right {
            width: 100%;
            padding: 30px $mobile-padding;

            p {
                max-width: 100%;
            }
        }
    }
}