.b-about {
    background: #F9F9F9;

    &-left, &-right {
        display: inline-block;
        vertical-align: middle;
    }

    &-left {
        width: 46%;       
        text-align: right;
        padding-top: 1em;
        background: #f2f2f2;
        

        img {
            width: 29.3125em;
            margin-right: -1em;
        }
    }

    &-right {
        padding-left: 6em;

        p {
            width: 30em;
            margin-top: 1em;
            font-size: 1.2em;
            line-height: 1.6;
        }
    }
}

.b-about-two {
    height: 42em;

    &-left, &-right {
        position: relative;
        height: 100%;
        display: inline-block;
        vertical-align: top;
    }

    &-left {
        width: 65%;
        text-align: right;
        padding-top: 7.6em;
        padding-right: 4em;

        ul {
            width: 45em;
            display: inline-block;
        }
    }

    &-right {
        width: 35%;
        margin-left: -7px;
        //background: linear-gradient(to top, #FAF5F6 66%, $bg-color 0%); 

        img {
                position: absolute;
                z-index: 10;
                top: -2em;
                left: -1em;
        }
    }

    &-bg {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 38em;
        height: 35em;
        background-color: #FAF5F6;
    }
}