.b-experience {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
    
    ul {
        width: 100%;
    }

    li {
        width: 31%;
        text-align: left;
        display: inline-block;
        vertical-align: top;
        padding: 20px 0 20px 50px;    

        &:first-child {
            padding-left: 140px;
        }
        
        &:nth-child(2) {
            padding-left: 100px;
        }
    }

    h3 {
        font-size: 40px;
    }

    em {
        font-size: 24px;
    }

    span {
        font-size: 19px;
    }
}

@include mq-1300 {
	.b-experience li {
        padding-left: 40px !important;
    }
}

@include mq-800 {
	.b-experience {
        padding-top: 40px;

        li {
            width: 100%;
            padding-left: 20px !important;
        }
    }
}