.b-main {
    height: 500px;

    &.alt {
        height: 600px;

        .b-main-a {
            width: 38%;
        }

        .b-main-b {
            width: 62%;
        }

        p {
            font-size: 15px;
        }
    }
    
    &-a, &-b {
        height: 100%;
    }

    &-a { 
        width: 46%;       

        img {
            max-width: 100%;
            max-height: 96%;
            margin-top: 4%;
        }
    }

    &-b {
        width: 54%;
        display: table;

        div {
            display: table-cell;
            vertical-align: middle;
        }
    }

    &:nth-child(odd) {
        background: $bg-color-lighter-grey;

        .b-main-a {
            text-align: right;
            float: left;
            background: $bg-color-light-grey;

            img {
                margin-right: -10px;
            }
        }

        .b-main-b {
            padding: 0 12% 0 7%;
            float: right;
        }
    }

    &:nth-child(even) {
        background: $bg-color-pink-grey;

        .b-main-a {
            text-align: left;
            float: right;
            background: $bg-color-light-grey;

            img {
                margin-left: -10px;
            }
        }

        .b-main-b {
            text-align: right;
            padding: 0 7% 0 12%;
            float: left;

            div {
                text-align: left;
            }
        }
    }
}

@include mq-1300 {
    .b-main {
        &:nth-child(odd) {
            .b-main-b {
                padding: 0 30px 0 40px;
            }
        }

        &:nth-child(even) {
            .b-main-b {
                padding: 0 40px 0 30px;
            }
        }
    }
}

@include mq-960 {
    .b-main {
        &.alt {
            height: 650px;
        }
    }
}

@include mq-800 {
    .b-main {
        height: auto !important;

        h1 {
            font-size: 35px;
            letter-spacing: 5px;
        }

        &-a, &-b {
            width: 100% !important;
            height: auto;
            float: none !important;
        }

        &-a {
            
            padding: 20px 10px 16px;
            text-align: center !important;

            img {
                width: auto;
                max-height: 300px;
                margin: 0 !important;
            }
        }

        &-b {
            display: block;
            padding: 30px $mobile-padding !important; 

            div {
                display: block;
            }
        }
    }
}