$produck-padding: 14px;

.b-product {
    padding: $produck-padding;
    padding-bottom: 80px;
    margin-bottom: 70px;
    display: inline-block;
    border: 1px solid $border-color;
    font-size: 15px;
    position: relative;
    @include btn-animation;

    &-wrap {
        & > div {
            width: 100%;
            display: flex;       
        }
    }

    &-rows-2 {
        width: 45%;
        margin-left: 4%;
    }

    &-rows-3 {
        width: 30%;
        margin-left: 2.5%;
    }
    
    h3 {
        padding: 6px;
        text-align: center;
        font-size: 24px;
        margin-bottom: 30px;
        border: 1px solid $border-color;
    }

    &-list {
        margin-bottom: 30px;

        li {
            margin-bottom: 10px;

        }

    }

    &-highlights {
        text-decoration: underline;
    }

    &-btn-wrap {
        //width: 100%;
        position: absolute;
        left: $produck-padding;
        bottom: $produck-padding;
        right: $produck-padding;

        button {
            width: 100%;
            text-align: center;
        }
    }
}

.b-product-consent {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    display: none;

    h4 {
        font-size: 18px;
        font-weight: 300;
    }

    ul {
        list-style-type: none;

        li {
            margin-bottom: 14px;

        }

        .h-checkbox, a {
            display: inline-block;
            vertical-align: middle;
        }

        .h-checkbox {
            margin-right: 14px;
        }
    }
   
    .btn-wrap {
        text-align: center;
        margin-bottom: 20px;
    }

    .link-tip {
        margin: 14px 0 0 0;
        font-style: italic;
    }
}



@include mq-800 {
    .b-product {
        width: 100%;
        max-width: 500px;
        margin: 0 auto 50px auto;
        display: block;
    
        &-wrap {
            padding-left: $mobile-padding;
            padding-right: $mobile-padding;

            & > div {
                display: block;
            }
        }
    }
}

// @include mq-560 {
//     .b-product{
//         &-blocks {
//             &-header {
//                 h4 {
//                     max-width: 126px;

//                     &:nth-child(2) {
//                         text-align: right;
//                     }
//                 }
//             }
            
//             &-total {
//                 button {
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }